{% extends "layout.html" %}
{% block sub_content %}
<h1> About </h1>

<div>Η παρούσα εφαρμογή έχει φτιαχτεί στα πλαίσια της διπλωματικής εργασίας του Μουρατίδη Παναγιώτη για το<br> τμήμα Μηχανικών Ηλεκτρονικών Υπολογιστών και Πληροφορικής του Πανεπιστημίου Πατρών.<br>Δεν προτείνει θεραπείες και δεν αντικαθιστά τον λογοθεραπευτή.</div>
<p><div>Τα αποτελέσματα που προτείνει μπορεί να μην είναι ακριβή και χρησιμοποιούνται - όπως και οι ηχογραφήσεις - καθαρά<br> για ερευνητικό σκοπό.</div></p>


{% endblock %}
