{%extends "layout.html" %}

{% block sub_content %}
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Retrain model</title>
    
    <div >
        Θέλετε να επανεκπαιδεύσετε το νευρωνικό δίκτυο?<p>Αν ναι, πατήστε το "ΕΚΠΑΙΔΕΥΣΗ" και περιμένετε. Είναι μια διαδικασία που διαρκεί αρκετή ώρα.</p><br/>
         <p><br/>        <td style="padding:0 15px;"> <a href="/retrainm" class="btn btn-primary">ΕΚΠΑΙΔΕΥΣΗ</a></td>
         </p>

    </div>
  </head>
  <body>

    <div class="wrapper">

     

      
	

    </div>



  </body>
</html>

{% endblock %}
